@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/******************************************************************
Site Name: Ilm Seek
Theme URI: http://www.IlmSeek.com
Description: A small site built for the Ilm Seek project at the Islamic Center of Tucson.
Author: Ahmad Taleb
Author URI: http://www.ahmadtaleb.com
******************************************************************/
/***Colors***/
/***Fonts***/
@font-face {
  font-family: haymaker;
  src: url(fonts/"Haymaker.ttf"); }

body {
  font-family: 'open-sans', sans-serif;
  font-weight: 300;
  text-align: justify; }
  body h2 {
    font-weight: 300;
    text-align: center;
    font-size: 5em;
    margin: 0 0 25px 0; }
  body h3 {
    margin: 0; }
  body p {
    font-size: 25px;
    margin: 0; }

.navbar {
  position: relative;
  border-bottom: 4px solid #cececc; }
  .navbar nav ul {
    text-align: justify;
    list-style: none;
    padding: 0 5em;
    margin: -15px 0 0 0;
    height: 100px; }
    .navbar nav ul li {
      margin: 0;
      display: inline-block;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.2em; }
      .navbar nav ul li h1 {
        font-weight: 300;
        font-family: 'haymaker', 'open-sans', sans-serif;
        color: #bdbdbd;
        text-shadow: 1px 2px 3px #838183;
        font-size: 2em; }
      .navbar nav ul li a {
        text-decoration: none;
        color: black; }
    .navbar nav ul:after {
      content: '';
      width: 100%;
      border-bottom: 5px dashed #922d8d;
      display: inline-block; }

.red {
  background: #F05353;
  border-bottom: 3px solid #B24040;
  padding: 5px 10px;
  border-radius: 5px; }

.intro_container {
  background: #efefef;
  padding: 0 0 25px 0; }
  .intro_container .intro {
    background: #efefef; }
    .intro_container .intro .introimg {
      width: 35%;
      margin: 0 auto; }
      .intro_container .intro .introimg img {
        width: 100%; }
    .intro_container .intro .icons {
      margin: 0 0 0 200px; }
      .intro_container .intro .icons .icon_box {
        margin: 0 5em 0 0; }
        .intro_container .intro .icons .icon_box .icon_content {
          text-align: center; }
          .intro_container .intro .icons .icon_box .icon_content img {
            width: 100%; }
          .intro_container .intro .icons .icon_box .icon_content h3 {
            font-weight: 300;
            font-size: 3.5em; }
    .intro_container .intro .introtext {
      margin-bottom: 25px; }
      .intro_container .intro .introtext .hello {
        width: 80%;
        margin: 0 auto; }
        .intro_container .intro .introtext .hello ol, .intro_container .intro .introtext .hello ul {
          font-size: 25px; }
          .intro_container .intro .introtext .hello ol h3, .intro_container .intro .introtext .hello ul h3 {
            font-size: 1.5em; }

.apply_button {
  background: #f05353;
  text-align: center;
  color: white;
  border-bottom: 5px solid #B24040;
  width: 500px;
  margin: 0 auto;
  border-radius: 5px; }
  .apply_button a {
    text-decoration: none;
    color: white; }
    .apply_button a h3 {
      font-size: 3em;
      font-weight: 300; }

.deuce {
  margin-bottom: 25px; }

.apply_alt {
  background: #3b97d3;
  width: 650px;
  border-bottom: 5px solid #1a557e;
  margin: 25px 0 0 0; }

.phil_cont {
  background: #f39c12;
  color: white; }
  .phil_cont .why {
    padding: 25px 0; }
    .phil_cont .why h2 {
      clear: both; }
    .phil_cont .why .why_box {
      text-align: center; }
      .phil_cont .why .why_box .why_content h3 {
        font-weight: 300;
        font-size: 2.5em; }
      .phil_cont .why .why_box .why_content p {
        width: 80%;
        margin: 0 auto;
        font-size: 25px;
        text-align: justify; }

.how_container {
  background: #F05353; }
  .how_container .how {
    padding: 25px 0;
    color: white; }
    .how_container .how .how_box img {
      float: left; }
    .how_container .how .how_box .how_info {
      float: right; }
      .how_container .how .how_box .how_info h3 {
        font-weight: 300;
        font-size: 3.5em; }
      .how_container .how .how_box .how_info li {
        font-size: 25px; }
    .how_container .how .how_box .albook {
      float: right; }
      .how_container .how .how_box .albook .alinfo {
        float: left; }

.what_container {
  background: #3b97d3;
  color: white; }
  .what_container .what {
    padding: 25px 0; }
    .what_container .what ul {
      list-style: none;
      margin: 0 0 25px 0;
      padding: 0; }
      .what_container .what ul li {
        margin: 25px 0 0 0; }
        .what_container .what ul li span:nth-of-type(1) {
          font-weight: bold;
          font-size: 30px; }
        .what_container .what ul li p {
          width: 80%;
          margin: 0 auto; }

.who_container {
  background: #59bd7e; }
  .who_container .who {
    color: white;
    padding: 25px 0; }
    .who_container .who p {
      width: 80%;
      margin: 0 auto; }

.ready_container {
  background: #9a5b9f;
  color: white;
  padding-bottom: 25px; }
  .ready_container .ready {
    padding: 25px 0;
    text-align: center; }
    .ready_container .ready p {
      width: 80%;
      margin: 0 auto 25px auto;
      text-align: left; }
    .ready_container .ready .poster {
      width: 50%; }
    .ready_container .ready .details {
      padding: 25px 0 0 0; }
      .ready_container .ready .details h3 {
        font-size: 3em;
        font-weight: 300; }
      .ready_container .ready .details ul {
        text-align: left;
        font-size: 25px; }
        .ready_container .ready .details ul p {
          width: 100%;
          margin: 0; }
        .ready_container .ready .details ul li {
          margin: 25px 0 0 0; }

.footer_container {
  background: #3b97d3;
  padding: 25px 0 0 0; }

.green {
  background: #59bd7e;
  border-bottom: 10px solid #3c8e5a;
  padding: .5em;
  font-size: 1.2em;
  width: 350px; }

.up_circle {
  border-radius: 50px;
  width: 60px;
  height: 55px;
  margin: 0 auto; }
  .up_circle p {
    font-size: 15px;
    color: white; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #59bd7e;
  margin: auto auto; }

a {
  text-decoration: none; }

.blue {
  border-bottom: 30px solid #3b97d3; }

.red_arrow {
  border-bottom: 30px solid #F05353; }

.yellow_arrow {
  border-bottom: 30px solid #f39c12;
  clear: both; }

.cii {
  clear: both; }

.purp_arrow {
  border-bottom: 30px solid #9a5b9f; }
